@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

/* .header{
    border: 1px solid black;
} */

.header-content{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration:none ;
    gap: 0.625rem;
}

.logo-icon{
    height: 3.875rem;
    width: 3.938rem;
}

.logo-text{
    font-size: 2rem;
    font-weight: bold;
}

.nav{
    display: none;
    gap: 1.5rem;

}

@media screen and (min-width:768px) {
    .nav{
        display: flex;
    }
}

.nav-link{
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.Try-free{
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .Try-free{
        display: block;
    }
}

.Try-free:hover{
    background-color: #5254f8;
}

.menu-button{
  display: none;
  border:none;
  border-radius: 0.375rem;
  background-color: var(--background-color);
  font-size: 1rem;
  padding: 0.5rem 0.9rem;
  font-weight: 600;
}

@media screen and (max-width:768px) {
    .menu-button{
        display: block;
      }
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align: center;
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromLeft {

    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}

.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}

.button-group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,
.read-button{
    
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.read-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: #5254f8;
}

.read-button:hover{
    background-color: var(--gray);
}


.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}


.image-container{
    border: none;
    border-radius: 1.225rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 50vh;
}

.section-image{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:768px) {
    .main-section{
        flex-direction: row;
    }
    .content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .button-group{
        justify-content: start;
        padding-left: 0;
    }
    .section_label{
        font-size: 1rem;
    }
    .section-title{
        font-size: 3.8rem;
    }
    .image-container{
        height: 67vh;
    }
    .section-description{
        font-size: 1.1rem;
        color: var(--gray);
        width: 78%;
    }
}

.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}

.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
}

.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
}

.svg-img{
    height: 1.56rem;
}

.logo-txt{
    font-size: 1rem;
}

@media screen and (min-width:640px) {
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
}

.feature-container{
    background-color: var(--light-gray);
    padding: 2.5rem 0;
    text-align: center;
}

.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-title{
    font-size: 2.2rem;
    font-weight: bold;
}

.main-description{
    color: var(--gray);
    font-size: 1rem;
}

.feature-grid{
    display: grid;
   
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-top: 1.3rem;
}

.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6d7890;
    padding: 1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}

.feature-title{
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.feature-description{
    color: white;
}

.feature-card:nth-child(1){
    background-color: #4a90e2;
}

.feature-card:nth-child(2){
    background-color: #FF6289;
}

.feature-card:nth-child(3){
    background-color: #fcbf58;
}

.feature-card:nth-child(4){
    background-color: #44bfc3;
}

.feature-card:nth-child(5){
    background-color: #77b05d;
}

.feature-card:nth-child(6){
    background-color: #7d78b1;
}

@media screen and (max-width:768px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

.testimonial-container{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--background-color);
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.15rem;
    gap: 1rem;
    border: 1px;
    border-radius: 1rem;
    background-color: var(--background-color);
    transition: transform 0.3s ease, border 0.3s ease;
    overflow: hidden;
}
.testimonial-card:hover{
    border: 2px solid var(--link-color);

}
.testimonial-card img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.news-send-button:hover{
    background-color: var(--link-color);
}

.privacy-policy{
    font-size: 0.76rem;
    padding: 0 3rem;
    color: #777;
}

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer{
    max-width: 1280px;
    padding:1.2rem 2.4rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}

.footer-top{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
}

.logo-svg{
    width: 3rem;
    height: 3rem;
}

.comp-logo{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1.9rem;
}
.logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.28rem;
    font-weight: bold;
    color: black;
}
.social-icon{
    width: 1.5rem;
    height: 1.5rem;
}
.filler-text{
    padding-top: 0.7rem;
    font-size: 1rem;
    color: #777;
}
.social{
    display: flex;
    gap: 0.8rem;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 58%;
    grid-gap: 5.67rem;
    padding-top: 2rem;
}

.footer-grid-heading{
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
    list-style-type: none;
}
.footer-link{
    color: #777;
    font-size: 0.875rem;
}
.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-grid-heading{
    margin-bottom: 1.65rem;
}

.footer-copyright{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .footer-top{
        padding-left: 10rem;
    }
    .footer-grid{
        align-self: center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {
    .footer-top{
        padding-left: 1rem;
    }
    .footer-grid{
        grid-template-columns: repeat(2,1fr);
    }
}