<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video</title>
    <link rel="stylesheet" href="/static/css/demoimg.css">

</head>
<body>
  <div class="header">
    <nav class="nav"></nav>
    <header class="header-content">
        <a href="/home" class="logo">
            <img src="/static/images/detectify3.png" alt="logoImage" class="logo-icon" />
            <span class="logo-text">DetectifyX</span>
        </a>
        <a href="/home" class="Try-free">
            Back To Home
        </a>
    </nav>
    </header>
</div>

<div class="section">
  <h1 class="heading-section">Unleash Visionary Insights with Precision Detection</h1>
  <p>Demo With The Image </p>
  <div class="section-Video" style="gap:1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 500px;
  background-color:rgb(214, 214, 214);
  border-radius: 1rem;
  margin: 0.5rem;
  width: 100%;">
</div>
<header class="feature-box second">
  <h1><strong>Output Video</strong></h1>
</header>
<!-- <div class="button-group" id="scrollTrigger">
  <a href="/demo/video" class="start-button">Demo With Video</a>
  <a href="/demo/webcam" class="read-button" id="Readmore">Demo With Image</a>
</div> -->
</div>

  <section class="col-sm " >

  </section>
<section>
    <div class="new" >
        <form method = 'POST' enctype="multipart/form-data" >
        {{ form.hidden_tag() }}   
        {{form.file(class_="custom-file-input start-button", style="width: 17rem; margin: 1rem;", accept=".jpg, .jpeg, .png")}} 
            
        <div>
          <button type="submit" name="favorite" value="x" class="read-button">
              Submit
          </button>
        </div>
      </form>
    </div>

  </div>
    </section>
    <div class="footer-container">
      <footer class="footer">

          <div class="footer-top">

              <div class="comp-logo">
                  <a class="logo-link" href="/home">
                      <img class="logo-svg" src="/static/images/detectify3.png"/>
                      DetectifyX
                  </a>
              </div>
              <p class="filler-text">Unleash Visionary Insights with Precision Detection.</p>
              <div class="social">
                      <a class="social-link" href="#">
                          <img src="/static/images/instagram.svg" class="social-icon" />
                      </a>
                      <a class="social-link">
                          <img src="/static/images/linkedin.svg" class="social-icon" />
                      </a>
                      <a class="social-link">
                          <img src="/static/images/Microsoft.svg" class="social-icon" />
                      </a>
                      <a class="social-link">
                          <img src="/static/images/twitter.svg" class="social-icon" />
                      </a>
              </div>
          </div>

          <div class="footer-grid">
                      <!-- column 1 -->
              <div class="footer-grid-column">
                          <div class="footer-grid-heading">
                              Products
                          </div>
                          <ul class="footer-links-list">
                              <li>
                                  <a href="#overview" class="footer-link">Overview</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Solutions</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Pricing</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Customers</a>
                              </li>
                          </ul>
              </div>
                      <!-- column 2 -->
              <div class="footer-grid-column">
                          <div class="footer-grid-heading">
                              Company
                          </div>
                          <ul class="footer-links-list">
                              <li>
                                  <a href="#overview" class="footer-link">About</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Investor Relations</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Jobs</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Press</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Blog</a>
                              </li>
                          </ul>
              </div>
                      <!-- column 3 -->
              <div class="footer-grid-column">
                          <div class="footer-grid-heading">
                              Support
                          </div>
                          <ul class="footer-links-list">
                              <li>
                                  <a href="#overview" class="footer-link">Contact</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Documentation</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Chat</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">FAQ</a>
                              </li>
                          </ul>
              </div>
                      <!-- column 4 -->
              <div class="footer-grid-column">
                          <div class="footer-grid-heading">
                              Legal
                          </div>
                          <ul class="footer-links-list">
                              <li>
                                  <a href="#overview" class="footer-link">Terms of Service</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Privacy Policy</a>
                              </li>
                              <li>
                                  <a href="#overview" class="footer-link">Cookie Settings</a>
                              </li>
                              
                          </ul>
              </div>
          </div>
      </footer>
      <div class="footer-copyright">
          © 2024 - Present DetectifyX. All rights reserved.
      </div>
  </div>

</body>
</html>